APP_PORT=7000
APP_LOCATION=http://chat.localhost
APP_WS_SERVER=localhost
APP_WS_SERVER_DOMAIN=localhost
APP_WS_SERVER_PROTOCOL=wss
APP_DEBUG=0

# Redis Configuration (optional)
REDIS_ENABLED=false
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_PREFIX=notifyli:connections:
